<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>EDM</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</head>

<body>
<div th:include="common/header :: header-navbar"></div>
<div class="container">
    <div class="jumbotron">
        <h1>成功添加申请项到“待申请清单”！</h1>
        <p class="lead">接下来，可以点击“继续添加”回到申请提取EDM数据页面，或者点击“待申请清单”查看完整的申请项。</p>
        <a class="btn btn-lg btn-primary" th:href="@{/edmFetchDataConditionController/showConditionView}" role="button">« 继续添加</a>
        <a class="btn btn-lg btn-primary" href="#" role="button">查看待申请清单 »</a>
    </div>
</div>
</body>

</html>