<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDM</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <!--    自定义的js-->
    <script th:src="@{/js/header.js}"></script>
</head>

<body>
<nav th:replace="common/header :: header-navbar"></nav>
<div class="container">
    <table class="table table-bordered mt-3"
           th:if="${dataCodeOfEdmApplyOrder!=null}">
        <thead class="thead-light">
        <tr>
            <th scope="col">活动名称</th>
            <th scope="col">申请人</th>
            <th scope="col">数据编码</th>
            <th scope="col">数据量</th>
            <th scope="col">提取的时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a th:href="@{/edmApplyOrderController/findEdmApplyOrderByOid/{oid}(oid=${dataCodeOfEdmApplyOrder.getOid()})}" th:text="${dataCodeOfEdmApplyOrder.orderName}">沃油料01期</a>
            </td>
            <td th:text="${dataCodeOfEdmApplyOrder.userName}">edm</td>
            <td th:text="${dataCodeOfEdmApplyOrder.dataCode}">1:201907211042404537</td>
            <td th:text="${dataCodeOfEdmApplyOrder.fileLineNum}">12500</td>
            <td th:text="${dataCodeOfEdmApplyOrder.dataCodeCreateDate}">2019-07-21</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover table-bordered" th:if="${dataCodeOfEdmApplyOrder!=null && !(#maps.isEmpty(dataCodeOfEdmApplyOrder.provinceNums))}">
        <thead class="thead-light">
        <tr scope="col">
            <th scope="col">序号</th>
            <th scope="col">省份名称</th>
            <th scope="col">数据量</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="col" th:each="provinceNum,rowStatus : ${dataCodeOfEdmApplyOrder.provinceNums}">
            <td th:text="${rowStatus.count}"></td>
            <td th:text="${provinceNum.key}">北京</td>
            <td th:text="${provinceNum.value}">100</td>
        </tr>
        </tbody>
    </table>
    <p th:if="${dataCodeOfEdmApplyOrder == null}">
        <span>数据异常，联系：shuju@wo.cn</span>
    </p>
</div>
</body>

</html>