<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

   <!--    自定义js-->
    <script th:src="@{/js/header.js}"></script>
    <!--    自定义的css-->
    <link rel="stylesheet" th:href="@{/css/edmApplyOrderList.css}">
</head>
<body>
<nav th:replace="common/header :: header-navbar"></nav>
<div class="container">
    <h2>群发流转单列表</h2>
    <table style="table-layout:fixed" class="table table-bordered table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th scope="col" class="xuhao" style="width: 8%;">序号</th>
            <th scope="col" class="liuzhuandan">流转单名称</th>
            <th scope="col" class="applier" style="width: 15%;">申请人</th>
            <th scope="col" class="caozuo" style="width: 18%;">操作</th>
        </tr>
        </thead>
        <tbody th:unless="${#lists.isEmpty(edmApplyOrders)}">
        <tr th:each="edmApplyOrder,edmApplyOrderStatus : ${edmApplyOrders}">
            <th scope="row" class="xuhao" th:id="${edmApplyOrder.getEid()}" th:text="${edmApplyOrderStatus.count}">1</th>
            <td class="liuzhuandan"><a href="#" th:text="${edmApplyOrder.getOrderName()}">沃油</a></td>
            <td class="applier"><a href="#" th:text="${edmApplyOrder.getEdmUserName()}">小梁量</a></td>
            <td class="caozuo">
                <div>
                    <a href="#" class="btn btn-info btn-sm active" role="button" aria-pressed="true">查看详情</a>
                    <a href="#" class="btn btn-info btn-sm active" role="button" aria-pressed="true">流转进度</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>