<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDM</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

   <!--    自定义js-->
    <script th:src="@{/js/header.js}"></script>
    <!--    自定义的css-->
    <link rel="stylesheet" th:href="@{/css/edmApplyOrderList.css}">
</head>
<body>
<nav th:replace="common/header :: header-navbar"></nav>
<div class="container">
    <h2>群发流转单列表</h2>
    <table style="table-layout:fixed" class="table table-bordered table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th scope="col" class="xuhao" style="width: 8%;">序号</th>
            <th scope="col" class="liuzhuandan">流转单名称</th>
            <th scope="col" class="applyDate" style="width: 11%;">申请时间</th>
            <th scope="col" class="applier" style="width: 10%;">申请人</th>
            <th scope="col" class="applyStatue" style="width: 10%;">状态</th>
            <th scope="col" class="caozuo" style="width: 18%;">操作</th>
        </tr>
        </thead>
        <tbody th:unless="${#lists.isEmpty(edmApplyOrders)}">
        <tr th:each="edmApplyOrder,edmApplyOrderStatus : ${edmApplyOrders}">
            <th scope="row" class="xuhao" th:id="${edmApplyOrder.getEdmer().getEid()}" th:text="${edmApplyOrderStatus.count}">1</th>
            <td class="liuzhuandan"><a th:href="@{|/edmApplyOrderController/findEdmApplyOrderByOid/${edmApplyOrder.getOid()}|}" th:text="${edmApplyOrder.getOrderName()}">沃油</a></td>
            <td class="applyDate" th:text="${#dates.format(edmApplyOrder.getApplyDate(), 'yyyy-MM-dd')}">2019-11-06</td>
            <td class="applier" th:text="${edmApplyOrder.getEdmer().getUsername()}">小梁量</td>
            <td class="applyStatue" th:text="${edmApplyOrder.getOrderState() == 7 || edmApplyOrder.getOrderState() == 9}?'流转完成':'流转中'">状态</td>
            <td class="caozuo">
                <div>
                    <a th:href="@{|/edmApplyOrderController/findEdmApplyOrderByOid/${edmApplyOrder.getOid()}|}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">查看详情</a>
                    <a th:href="@{|/edmApplyOrderController/findEdmApplyOrderByOid/${edmApplyOrder.getOid()}|}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">查看详情</a>
                    <a th:href="@{|/edmApplyOrderController/findEdmApplyOrderProgress/${edmApplyOrder.getOid()}|}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">流转进度</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>