<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDM</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

    <!--    自定义js-->
    <script th:src="@{/js/header.js}"></script>
    <!--    自定义的js 插件-->
    <script th:src="@{/js/url-plugins.js}"></script>
    <script th:src="@{/js/date-plugin.js}"></script>
    <!--    自定义的css-->
    <link rel="stylesheet" th:href="@{/css/edmPreExecuteList.css}">
    <!--    自定义js-->
    <script th:src="@{/js/edmPreExecuteList.js}"></script>
</head>
<body>
<nav th:replace="common/header :: header-navbar"></nav>
<div class="container" th:object="${pageEdmApplyOrders}">
    <h2 th:unless="${#lists.isEmpty(pageEdmApplyOrders.getPageObjList())}">审核完成，等待执行提数列表</h2>
    <table style="table-layout:fixed" class="table table-bordered table-hover table-striped table-condensed"
           th:unless="${#lists.isEmpty(pageEdmApplyOrders.getPageObjList())}">
        <thead>
        <tr>
            <th scope="col" class="xuhao" style="width: 8%;">序号</th>
            <th scope="col" class="liuzhuandan">流转单名称</th>
            <th scope="col" class="paiQiResult" style="width: 13%;">排期时间</th>
            <th scope="col" class="applier" style="width: 10%;">申请人</th>
            <th scope="col" class="applyStatue" style="width: 10%;">状态</th>
            <th scope="col" class="caozuo" style="width: 18%;">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="edmApplyOrder,edmApplyOrderStatus : *{pageObjList}">
            <th scope="row" class="xuhao" th:id="${edmApplyOrder.getEdmer().getEid()}"
                th:text="${edmApplyOrderStatus.count}">1
            </th>
            <td class="liuzhuandan"><a
                    th:href="@{|/edmApplyOrderController/findEdmApplyOrderByOid/${edmApplyOrder.getOid()}|}"
                    th:text="${edmApplyOrder.getOrderName()}">沃油</a></td>
            <td class="paiQiResult" th:text="${edmApplyOrder.getEdmApplyOrderCheckResult().paiQiResult}">2019-11-06</td>
            <td class="applier" th:text="${edmApplyOrder.getEdmer().getUsername()}">小梁量</td>
            <td class="applyStatue" th:text="${edmApplyOrder.getOrderState() == 6}?'审批完成':'提取中'">状态</td>
            <td class="caozuo">
                <div>
                    <input type="hidden" name="oid" th:value="${edmApplyOrder.oid}">
                    <button th:if="${edmApplyOrder.orderState==6}" type="button" class="btn btn-success btn-sm executeTiShu" aria-pressed="true">开始提数</button>
                    <button th:if="${edmApplyOrder.orderState==10}" type="button" class="btn btn-secondary executeTiShu btn-sm" disabled="true">提取中...</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(pageEdmApplyOrders.getPageObjList())}">
        <div class="jumbotron">
            <h1 class="display-4">列表为空</h1>
            <p class="lead">流转单可能还在审核中，暂时没有待提数列表</p>
        </div>
    </div>
    <nav>
        <ul hidden id="pageValue">
            <input type="hidden" name="eid" th:value="${edmer.getEid()}">
            <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
            <input type="hidden" name="pageSize" th:value="*{pageSize}">
            <input type="hidden" name="currentPageNum" th:value="*{currentPageNum}">
            <input type="hidden" name="totalPageNum" th:value="*{totalPageNum}">
            <input type="hidden" name="totalItemNum" th:value="*{totalItemNum}">
        </ul>
    </nav>
</div>
</body>
</html>